@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Pixelated MS Sans Serif", "MS Sans Serif", Arial, sans-serif;
  -webkit-font-smoothing: none;
  font-smooth: never;
  user-select: none;
  -webkit-user-select: none;
}

img {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.window-body,
input,
textarea {
  user-select: text;
  -webkit-user-select: text;
}

button {
  cursor: default;
}
